@model IList<int>

<div class="p-4 archive-links-container">
    <h3>Архив новостей</h3>
    @{
        var currentYear = DateTime.Now.Year;
    }
    <ol class="list-unstyled mb-0">
        @foreach (var year in Model)
        {
            <li>
                <a asp-controller="News" asp-action="Index" asp-route-year=@year>Новости @(year == currentYear ? "этого года" : $"за {year}")</a>
            </li>
        }
    </ol>
</div>
